@media (min-width:600px){
  .flip-box, div#links.portfolio a {
    width:326px;
    height:326px;
  }
  
img.art {
display:none;
}
}


@media (max-width:600px){
img.art {
display:block;
}
  
div.flip-box-front {
background:none!important;
}
}
