@media (min-width:600px){
  .flip-box.art, div#links.portfolio a {
    width:510px;
    height:326px;
  }
  
img.art {
display:none;
}
}

@media (min-width:1200px){
  .flip-box.art, div#links.portfolio a {
    width:326px!important;
    height:326px!important;
  }
}

@media (max-width:600px){
img.art {
display:block;
}
  
div.flip-box-front.art {
background:none!important;
}
}
