
<div id="links" class="portfolio">
	

	{% for post in site.posts %}
    
       <!-- <div class="header">
            <p class="date">{{ post.category }}</p>-->

            <a href="{{ site.url }}/art{{ post.url }}" class="post">

             <div class="flip-box">
  <div class="flip-box-inner">
    <div class="flip-box-front" style="background:url('{{ site.url }}/art/img/{{ post.img }}') center no-repeat;">

      <!--<img src="{{ site.url }}/art/img/{{ post.img }}" class="img-fluid" alt="{{ post.title }} by Liz Lorena Berberena">-->
    </div>
    <div class="flip-box-back">
      <p class="title">{{ post.title }}</p>
      <p class="date">{{ post.projectDate }}</p>
      <p class="excerpt" style="text-align:left;">{{ post.excerpt }}</p>
      <p class="excerpt" style="text-align:center;padding-top:20px;">Click to view the full image!</p>
    </div>
  </div>
</div> 

</a>
                    
            

    {% endfor %}
	
</div>
